/* App.css */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
}

.container {
  padding: 20px;
  border: 1px solid #ccc; /* Optional: for visual reference */
  height: 300px;
  width: 600px;
  background-color: lightblue;
}

.input {
  margin-bottom: 10px;
}

.button {
  margin-right: 5px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.todo-text {
  flex-grow: 1;
}

.completed {
  text-decoration: line-through;
}